.box{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    -webkit-animation: change 5s linear infinite;
}

@keyframes change{
    0%{
        background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 20px);
    }
    10%{
        border-radius: 0;
    }
    20%{
       background: linear-gradient(to top left, powderblue, pink);
    }
    30%{
        width: 200px;
        height: 200px;
        transform: skew(5deg,5deg);
    }
    50%{
        transform: rotate(360deg);
    }
    70%{
        background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    }
    100%{
        border-radius: 50px;
    }
}